<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Jyotish Chart Generator</title>
</head>
<body>
    <h1>Enter Your Birth Details</h1>
    <form action="/" method="post">
        Name:<br>
        <input type="text" name="name" required><br><br>
        Date of Birth:<br>
        <input type="date" name="date_of_birth" required><br><br>
        Time of Birth:<br>
        <input type="time" name="time_of_birth" required><br><br>
        Place of Birth:<br>
        <input type="text" name="place_of_birth" required><br><br>
        <input type="submit" value="Generate Charts">
    </form>
</body>
</html>